/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Bytesized&family=Jacquard+12&family=Pixelify+Sans:wght@400..700&family=Tiny5&display=swap');
/* CSS */

* {
    box-sizing: content-box;
}

body {
    background-image: url(Img/FondoAurePages.gif);
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* 'Tiny5' */
h1 {
    font-size: 50px;
    font-family: 'Tiny5', sans-serif;
    margin-top: 10px;
    text-align: center;
    background: linear-gradient(to right, #bf00f9 0%,#6700f7 29%,#0004ff 53%,#0033ff 82%,#008cff 100%);    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 30s ease-in-out infinite !important;
    background-size: 400% 100%;
}
/* 'Bytesized' */
h2 {
    font-family: 'Bytesized', sans-serif;
    text-align: center;
    background: linear-gradient(to right, #f306a0, #cf09e6, #8c00ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 5s ease-in-out infinite !important;
    background-size: 400% 100%;
}


@keyframes NAVBOX_ANIM {
}

@keyframes rainbow_animation {
0%,100% {background-position: 0 0;}
50% {background-position: 100% 0;}
}

@keyframes rotate {
    0% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(2deg);
    }
}

a:hover {
    margin-top: 10px;
    text-align: center;
    color: #ff92ed;
    background-size: 400% 100%;
}

a {
    color: #f700ce;
    text-decoration: none;
}

.NavBox {
    min-width: 200px;
    min-height: 100px;
    border-radius: 8px;
    text-align: center;
    background: #30164361;
    margin: auto;
    width: 35%;
    height: 20%;
    margin-top: 16%;
    margin-bottom: 15%;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 2px solid #661daa;
    box-shadow: 0 0 15px #c61dd9;
    animation: NAVBOX_ANIM 4s ease-in-out infinite !important;
    padding: 20px;

}

footer {
    text-align: center;
    text-shadow: 0 0 10px #fefffe28;
    margin-bottom: 20px;
}

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background:#291538; }
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background:#9009ff;
}

/* De index html pero lo puse aki para k pueda ser usado en otros archivos */
@keyframes Fade-OutPurple {
0% {opacity: 100%; z-index: 9999; background-color: #490080;}
99% {opacity: 0%; z-index: 9999; background: transparent;}
}

#PurpleOverlay {
    z-index: -9999999999;
    background-color: transparent;
    width: 200000vw;
    height: 200000vh;
    position: fixed;
    padding: 0;
    margin: 0;
    animation: Fade-OutPurple 560ms ease-in-out forwards;
}