/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Bytesized&family=Jacquard+12&family=Pixelify+Sans:wght@400..700&family=Tiny5&display=swap');
/* CSS */

* {
    box-sizing: content-box;
}

body {
    background-image: url(Img/FondoAurePages.gif);
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* 'Tiny5' */
h1 {
    font-size: 50px;
    font-family: 'Tiny5', sans-serif;
    margin-top: 10px;
    text-align: center;
    background: linear-gradient(to right, #6666ff, #8400ff , #ea00ff, #f31bda, #30fc59, #ff9849);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 30s ease-in-out infinite !important;
    background-size: 400% 100%;
}
/* 'Bytesized' */
h2 {
    font-family: 'Bytesized', sans-serif;
    text-align: center;
    background: linear-gradient(to right, #b05490, #783380, #26093e);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 10s ease-in-out infinite !important;
    background-size: 400% 100%;
}


@keyframes NAVBOX_ANIM {
0%,100% {box-shadow: 0 0 25px #c61dd9; border: 2px solid #7e1dd9; background: #30164361;backdrop-filter: blur(6px);-webkit-backdrop-filter: blur(6px);transform: rotate(2deg);border-radius: 16px;}
50% {box-shadow: 0 0 1px #580e60; border: 2px solid #441175; background: #21102d61;backdrop-filter: blur(2px);
-webkit-backdrop-filter: blur(2px);transform: rotate(-2deg);border-radius: 4px;}
}

@keyframes rainbow_animation {
0%,100% {background-position: 0 0;}
50% {background-position: 100% 0;}
}

@keyframes rotate {
    0% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(2deg);
    }
}

a:hover {
    margin-top: 10px;
    text-align: center;
    color: #ff92ed;
    background-size: 400% 100%;
}

a {
    color: #f700ce;
    text-decoration: none;
}

.NavBox {
    min-width: 200px;
    min-height: 100px;
    border-radius: 8px;
    text-align: center;
    background: #30164361;
    margin: auto;
    width: 30%;
    height: 20%;
    margin-top: 16%;
    margin-bottom: 15%;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 2px solid #7e1dd9;
    box-shadow: 0 0 15px #c61dd9;
    animation: NAVBOX_ANIM 4s ease-in-out infinite !important;
    padding: 20px;

}

footer {
    text-align: center;
    text-shadow: 0 0 10px #fefffe28;
    margin-bottom: 20px;
}

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background:#291538; }
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background:#9009ff;
}
